streamlit
spacy==3.7.2
thinc>=8.1.10
numpy>=1.19.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
requests>=2.31.0
datetime
nltk
